.main-text {
  line-height: 18px;
  font-weight: 400;
  font-size: 14px;
  color: #212121;
}
.button {
  line-height: 18px;
  font-weight: 400;
  font-size: 14px;
  border: none;
  font-size: 16px;
  color: #212121;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
}
.button_primary {
  background-color: #ffcc00;
}
.button_primary:hover {
  background-color: #f5c400;
  transition: 0.3s;
}
.button_large {
  width: 100%;
}
