.card {
  max-width: 170px;
  padding: 10px 15px;

  &__link {
    cursor: pointer;
  }

  &__descr-block {
    padding-bottom: 25px;
  }

  &__description {
    padding-top: 7px;
  }

  &__price {
    padding-bottom: 7px;
  }
}
